.dashboard__container {
    background-color: var(--primary-bg-color);
    position: fixed;
    color: var(--secondary-text-color);
    font-size:x-large;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 1rem;
    transition: .75s ease;
    overflow-y: auto;
}
.dashboard__title{
    margin-left: 25px;
    font-size: larger;
}
.dashboard__Header{
    display: flex;
    flex: 1 0 auto;
    height: 65px;
    background-color: var(--secondary-bg-color);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;

}
.dashboard__profile__pic {
    height: 50px;
    position: absolute;
    top: 5px;
    right: 10px;
    margin-top: 5px;
}
.Header_Namebox{
    display: flex;
    flex: 1 0 auto;
    position: absolute;
    height: 40px;
    top: 10px;
    right: 80px;
    border-left: 3px solid;
}
.Header_Namebox > p{
    margin-top: 13px;
    margin-left: 5px;
    font-size:large;
}

.dashboard__row {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    max-height: 65px;
}

.dashboard__column__no__margin {
    flex: 50%;
    max-height: 65px;
}

.dashboard__student__default__title {
    text-align: center;
}

.dashboard__student__default__image {
    align-content: center;
}

.dashboard__student__default__image img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100px;
}

.dashboard__Map_header{
    height: 10px;
    color: var(--blue);
    background-color: var(--primary-dashboard-headers);
    padding: 25px;
    width: 60%;
    min-width: 150px;
    margin-top: 50px;
    Margin-left: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dashboard__Map_header > p {
    margin-top: -5px;
    margin-left: -5px;
    font-size: large;
}

.dashboard__Map{
    height: 500px;
    /*height: 100%;*/
    /*background-color: white;*/
    background: var(--secondary-bg-color) url('/src/assets/map.png') no-repeat center/contain;
    padding: 25px;
    /*width: 800px;*/
    width: 60%;
    min-width: 150px;
    Margin-left: 25px;
}

@media (max-width: 1024px) {
    .dashboard__container {
        left: 0 !important;
        width: 100% !important;
    }
}
