.login__container {
    height: 100vh;
    background-color: var(--green);
    justify-content: center;
    align-items: center;
}

.login__logo {
    height: 100px;
    position: relative;
}

.login__logo img{
    position: absolute;
    top: -350px;
    height: 100px;
}

.login__box {
    display: flex;
    width: 100%;
    max-width: 1120px;
    min-height: 550px;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
}

.row {
    display: flex;
    width: 100%;
}

.login__column {
    flex: 50%;
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.login__form input{
    margin-bottom: 20px;
    width: 350px;
    border-radius: 25px;
    border: 2px solid var(--gray);
    padding: 20px;
}

.login__form h2{
    margin-bottom: 40px;
}

.login__form button[type="submit"] {
    width: 394px;
    border-radius: 25px;
    border: 2px solid var(--primary-btn-bg-color);
    padding: 20px;
    background-color: var(--primary-btn-bg-color);
    font-weight: 600;
    color: var(--primary-btn-text);
    margin-bottom: 20px;
}

.login__form input[type="checkbox"]{
    width: 20px;
}

.login__form input:focus, button:focus {
    outline: none;
}

.login__error {
    color: var(--error);
    margin-bottom: 10px;
}

.login__img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
    width: 100%;
    background: url("/src/assets/NW_ADMIN_BUILDING.jpeg") center/cover no-repeat;
}

a:visited {
    color: var(--blue);
}

@media (max-width: 1280px) {
    /* Change border radius on image since we stacked elements now  */
    .login__img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
}
