.main {
    height: 100vh;
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__box {
    display: flex;
    width: 100%;
    max-width: 1120px;
    min-height: 550px;
    background-color: #fff;
    border-radius: 10px;
}

.row {
    display: flex;
    width: 100%;
}

.login__column {
    flex: 50%;
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.login__form input{
    margin-bottom: 20px;
    width: 350px;
    border-radius: 25px;
    border: 2px solid #808080;
    padding: 20px;
}

.login__form h2{
    margin-bottom: 40px;
}

.login__form button[type="submit"] {
    width: 394px;
    border-radius: 25px;
    border: 2px solid var(--primary-bg-color);
    padding: 20px;
    background-color: var(--primary-bg-color);
    font-weight: 600;
    color: #fff;
    margin-bottom: 40px;
}

.login__form input[type="checkbox"]{
    width: 20px;
}

.login__form input:focus, button:focus {
    outline: none;
}


.login__img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
    background: url("https://www.nwmissouri.edu/facts/image/admin-building.jpg") center center/cover no-repeat;
}

@media (max-width: 1120px) {
    .login__box {
        width: 100%;
        max-width: 960px;
    }
}
