.app__form__container__component {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__form__component {
    width: 100%;
    max-width: 1120px;
    min-height: 740px;
    background-color: var(--secondary-bg-color);
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.app__btns__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    padding-bottom: 2rem;
}

.app__btn__prev {
    background-color: var(--primary-bg-color);
}

.app__btn__next {
    background-color: var(--primary-btn-bg-color);
}

.wide {
    width: 100%;
}

.app__row__component {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.app__column__component {
    flex: 50%;
    margin: auto 10px;
}

.app__column__3__component {
    flex: 33.3%;
    margin: auto 10px;
}

.app__input__component {
    width: 100%;
}

.app__input__component.wide__component {
    width: 1000px;
}

li {
    font-size: 1.3rem;
}
